/* 


	provadlg.rc (emx+gcc) 

	1995 Giovanni Iachello
	This is freeware software. You can use or modify it as you wish,
	provided that the part of code that I wrote remains freeware.
	Freeware means that the source code must be available on request 
	to anyone.
	You must also include this notice in all files derived from this
	file.


*/

#include <os2.h>
#include "pmstdres.h"
#include "provadlg.h"

ICON ID_PROVADLG provadlg.ico

STRINGTABLE
{
   STR_PAOLA, "Paola"
   STR_CHIARA, "Chiara"
   STR_SILVIA, "Silvia"
}

MENU ID_PROVADLG
{
    SUBMENU "~File", PMIDM_FILE
    {
        MENUITEM "~New...", PMIDM_FILENEW
        MENUITEM "~Open...", PMIDM_FILEOPEN
        MENUITEM SEPARATOR
        MENUITEM "~Save...", PMIDM_FILESAVE
        MENUITEM "Save ~as...", PMIDM_FILESAVEAS
        MENUITEM SEPARATOR
        MENUITEM "~Print", PMIDM_FILEPRINT
        MENUITEM "~Exit\tF3", PMIDM_FILEEXIT
    }

    MENUITEM "~Crash", IDM_CRASH
    MENUITEM "~Names", IDM_NAMES
    MENUITEM "~Fonts", IDM_FONTS

    SUBMENU "~Help", PMIDM_HELP
    {
        MENUITEM "Help ~index...", PMIDM_HELPINDEX
        MENUITEM "~General help...", PMIDM_HELPGENERAL
        MENUITEM "~Using help...", PMIDM_HELPUSING
        MENUITEM "~Keys help...", PMIDM_HELPKEYS
        MENUITEM SEPARATOR        
        MENUITEM "~Product information...", PMIDM_HELPABOUT
    }
}

ACCELTABLE ID_PROVADLG
{
    VK_F3,  PMIDM_FILEEXIT,      VIRTUALKEY
}

HELPTABLE ID_PROVADLG
{
	HELPITEM ID_PROVADLG, 		HLP_SUB_PROVADLG, 	HLP_EXT_PROVADLG
	HELPITEM DLG_ESEMPIO1, 		HLP_SUB_NDLG, 		HLP_EXT_NDLG
	HELPITEM DID_FONT_DIALOG, 	HLP_SUB_FDLG, 		HLP_EXT_FDLG
	HELPITEM PMDLG_ABOUT, 		HLP_SUB_ABOUT, 		PMHLP_DLG_ABOUT
}

HELPSUBTABLE HLP_SUB_ABOUT
{
    HELPSUBITEM DID_CANCEL , DID_CANCEL
}

HELPSUBTABLE HLP_SUB_FDLG
{
    HELPSUBITEM DID_CANCEL , DID_CANCEL
}


HELPSUBTABLE HLP_SUB_NDLG
{
    HELPSUBITEM D1_NOME, HLP_PNL_NDLG_NAME
}

HELPSUBTABLE HLP_SUB_PROVADLG
{
    HELPSUBITEM IDM_CRASH, HLP_CRASH
    HELPSUBITEM IDM_FONTS, HLP_FONTS
    
    HELPSUBITEM PMIDM_FILE , PMHLP_FILE
    HELPSUBITEM PMIDM_FILENEW , PMHLP_FILENEW
    HELPSUBITEM PMIDM_FILEOPEN , PMHLP_FILEOPEN
    HELPSUBITEM PMIDM_FILESAVE , PMHLP_FILESAVE
    HELPSUBITEM PMIDM_FILESAVEAS , PMHLP_FILESAVEAS
    HELPSUBITEM PMIDM_FILEPRINT , PMHLP_FILEPRINT
    HELPSUBITEM PMIDM_FILEEXIT , PMHLP_FILEEXIT

    HELPSUBITEM PMIDM_EDIT , PMHLP_EDIT
    HELPSUBITEM PMIDM_EDITUNDO , PMHLP_EDITUNDO
    HELPSUBITEM PMIDM_EDITREDO , PMHLP_EDITREDO
    HELPSUBITEM PMIDM_EDITCUT , PMHLP_EDITCUT
    HELPSUBITEM PMIDM_EDITCOPY , PMHLP_EDITCOPY
    HELPSUBITEM PMIDM_EDITPASTE , PMHLP_EDITPASTE
    HELPSUBITEM PMIDM_EDITCLEAR , PMHLP_EDITCLEAR
    HELPSUBITEM PMIDM_EDITDUPLICATE , PMHLP_EDITDUPLICATE
    HELPSUBITEM PMIDM_EDITSELECTALL , PMHLP_EDITSELECTALL

    HELPSUBITEM PMIDM_HELP , PMHLP_HELP
    HELPSUBITEM PMIDM_HELPINDEX , PMHLP_HELPINDEX
    HELPSUBITEM PMIDM_HELPGENERAL , PMHLP_HELPGENERAL
    HELPSUBITEM PMIDM_HELPUSING , PMHLP_HELPUSING
    HELPSUBITEM PMIDM_HELPKEYS , PMHLP_HELPKEYS
    HELPSUBITEM PMIDM_HELPABOUT , PMHLP_HELPABOUT

}


DLGTEMPLATE PMDLG_ABOUT 
{
    DIALOG "About Prova Dlg", PMDLG_ABOUT, 22, 24, 225, 104, 
        WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    {
        DEFPUSHBUTTON "OK", DID_OK, 16, 8, 51, 14
        PUSHBUTTON "~Help", DABOUT_PB_HELP, 86, 8, 51, 14, WS_VISIBLE | BS_HELP | BS_NOPOINTERFOCUS
        PRESPARAMS PP_FONTNAMESIZE "12.Helv"
        CONTROL "Written by Giovanni Iachello", 106, 14, 52, 190, 12, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        PRESPARAMS PP_FONTNAMESIZE "12.Helv"
        CONTROL "Copyright (c) 1994.  All Rights Reserved.", 107, 12, 40, 196, 10, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        PRESPARAMS PP_FONTNAMESIZE "12.Helv"
        CONTROL "Source Code for Non-Profit Use Only", 108, 12, 27, 196, 10, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        PRESPARAMS PP_FONTNAMESIZE "12.Helv"
        CONTROL "PM ++ Demo Program", 109, 10, 79, 194, 10, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    }
}

DLGTEMPLATE DLG_NAME 
{
   DIALOG  "Richiesto Input", DLG_NAME, 112, 59, 150, 100,
       WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
   {
      LTEXT "Seleziona un nome o scrivilo e premi ""Ok""" ".", -1, 10, 80, 130, 16, DT_WORDBREAK
      LISTBOX DNAME_LB_NAMELIST, 10, 45, 130, 35, LS_HORZSCROLL
      ENTRYFIELD "", DNAME_EF_NAME, 12, 30, 127, 8, ES_MARGIN
      DEFPUSHBUTTON "Ok", DID_OK, 10, 10, 40, 13
      PUSHBUTTON "Cancel", DID_CANCEL, 55, 10, 40, 13
   }
}


/*
 * Resource file created by dlgedit version 0.0
 * Giovanni Iachello 1995
 * D:\emx\dlgedit\esempio1.DLG compiled on Mon Oct 16 01:44:01 1995
 */
DLGTEMPLATE DLG_ESEMPIO1 
{
    DIALOG "Inserisci nome", DLG_ESEMPIO1 , 10, 10, 128, 118,
        WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU | FCF_DLGBORDER 
    {
        LTEXT "Interessi", -1, 13, 40, 70, 9, WS_VISIBLE | SS_TEXT 
        LTEXT "Cognome", -1, 12, 68, 73, 8, WS_VISIBLE | SS_TEXT 
        LTEXT "Nome", -1, 12, 90, 75, 8, WS_VISIBLE | SS_TEXT 
        LISTBOX D1_LB_INTERESSI, 7, 8, 100, 32, WS_VISIBLE 
        ENTRYFIELD "", D1_COGNOME, 8, 56, 100, 8, WS_VISIBLE | ES_MARGIN 
        ENTRYFIELD "", D1_NOME, 8, 80, 100, 8, WS_VISIBLE | ES_MARGIN 
        PUSHBUTTON "~Help", D1_HELP, 86, 8, 51, 14, WS_VISIBLE | BS_HELP | BS_NOPOINTERFOCUS
    }
}

